@import "./mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #eee;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  min-height: 6vh;
  @include displayFlex(space-evenly, center);
  z-index: -1;
}

#myCanvas {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
